# Dependencies
node_modules/

# Build output
dist/
dist-electron/

# Vite
.vite/

# Electron builder
release/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.swp
/media
